
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form action="Add" method="post">

    @ViewBag.Yolo
    @ViewBag.rofl

    <p>Enter a multiple choice, single answer question</p>
    id: <input type="text" name="id"<br />
    content: <input type="text" name="content"<br />
    ordinal : <input type="text" name="ordinal"<br />
    question type id:<input type="text" name="question_type_id"<br />
    question type name:<input type="text" name="question_type_name"<br />
    category  id: <input type="text" name="category_id"<br />
    category name: <input type="text" name="category _name"<br />
    <input type="submit" value="Submit" />
</form>
