@{
    ViewBag.Title = "Admin : Update Question";
}

<div class="container">

    <h2>Admin : Update Question</h2>

    <div class="row">

        <div class="three columns">

            <h3 style="border-bottom: solid 2px black;">Questions</h3>

            @{
                for (int i = 1; i <= testsharp.lib.Question.GetMaxQuestions() - 1; i++)
                {
                    var url = testsharp.Controllers.AdminController.QuestionID[i];
                    ViewBag.i = i + ". " + testsharp.Controllers.AdminController.QuestionContent[i];
                    <a href="~/Admin/Index?q=@HttpUtility.UrlEncode(url.ToString())">@ViewBag.i</a><br />
                }
            }

        </div>

        <div class="nine columns">

            <p>hey there</p>
            @{
                int loadnum;
                Int32.TryParse(HttpContext.Current.Request.QueryString["q"], out loadnum);
                testsharp.lib.Question question = testsharp.lib.Question.Load(loadnum);

                <p>@question.Content</p>

                <form>
                    <p>Update Content:</p>
                    <input type="text" name="newcontent" />
                    <input type="hidden" name="q" value="@Request.QueryString["q"]" />
                    <input type="submit" value="Update Question Content"/>
                </form>
            }
        </div>

    </div>

</div>