@{
    ViewBag.Title = "Admin : Update Question";
}

<h1>Admin : Update Question</h1>

<div class="col-sm-push-3">
    
    @{
        for (int i = 1; i <= testsharp.lib.Questions.GetMaxQuestions() - 1; i++)
        {
            ViewBag.i = testsharp.Controllers.AdminController.QuestionContent[i];
            <p>@ViewBag.i</p>
        }
    }
</div>

<div class="col-sm-push-9">

</div>