@{
    ViewBag.Title = "Admin : Update Question";
}

<div class="container">

    <h2>Admin : Update Question</h2>

    <div class="row">

        <div class="three columns">

            <h3 style="border-bottom: solid 2px black;">Questions</h3>

            @{
                for (int i = 1; i <= testsharp.lib.Question.GetMaxQuestions() - 1; i++)
                {
                    var url = testsharp.Controllers.AdminController.QuestionContent[i];
                    ViewBag.i = i + ". " + testsharp.Controllers.AdminController.QuestionContent[i];
                    <a href="~/Admin/Index?q=@HttpUtility.UrlEncode(url)">@ViewBag.i</a><br />
                }
            }

        </div>

        <div class="nine columns">

            <p>hey there</p>
            <p>@HttpContext.Current.Request.QueryString["q"]</p>

        </div>

    </div>

</div>