@{
    ViewBag.Title = "Admin : Update Question";
}

<div class="container">

    <h2>Admin : Update Question</h2>

    <div class="row">

        <div class="three columns">

            <h3 style="border-bottom: solid 2px black;">Questions</h3>

            @{
                for (int i = 1; i <= testsharp.lib.Questions.GetMaxQuestions() - 1; i++)
                {
                    ViewBag.i = i + ". " + testsharp.Controllers.AdminController.QuestionContent[i];

                    <p>@ViewBag.i</p>
                }
            }

        </div>

        <div class="nine columns">

            <p> hey there</p>

        </div>

    </div>

</div>